.selected-pokemon-div {
    display: flex;
}

.selected-pokemon-row {
    display: flex;
    min-width: 205px;
}

.selected-pokemon-row::after {
    content: "";
    clear: both;
}

.pokemon-img {
    object-fit: contain;
    height: 96px;
}

.move-row {
    height: auto;
}

.moves-p {
    margin-right: 0.25em;
}

.selected-pokemon-item {
    display: flex;
    align-items: center;
}

.selected-pokemon-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}