.main {
    display: flex;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    background-color: transparent;
    width: 150px;
}

.label {
    font-size: 32px;
    font-weight: bold;
    height: 35px;
    display: flex;
    flex-basis: 50px;
    color: black;
}

.max {
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    background-color: lightgray;
}
.value {
    height: 100%;
    background-color: rgb(25, 225, 25);
    transition: width 0.4s ease-out;
}
